@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cormorant+Garamond:ital,wght@1,300&family=Lato:wght@300&family=Libre+Baskerville:ital@1&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.outer-container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, rgb(114, 116, 233), rgb(41, 233, 236));
}
.inner-container{
    border: 2px solid black;
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 0px 50px;
    background: linear-gradient(to top right, #ffffffff, #ffffff33 );
    background-color: #ffffff09;
    box-shadow: 2px 2px 5px #2773a5;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    z-index: 2;
}
.signup-header h1{
    font-size: 2.5rem;
}
.signup-header p{
    font-size: 0.9rem;
    color: #555;
}
.signup-body{
    padding: 10px 0;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
    display: block;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

footer p{
    margin: 7px;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffff33, #ffffffff);
    position: absolute;
}
.c1{
    top: 60px;
    left: 40px;
}
.c2{
    bottom: 100px;
    right: 50px;
    background: linear-gradient(to top right, #ffffff33, #ffffffff);
}
.signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: #2c6c97;
}


